__pycache__/
*.py[cod]
*.sqlite3
*.pyc
venv/
env/
ENV/
.venv/
/static/
media/
**/migrations/__pycache__/
/migrations/*.pyc
*/migrations/*.py
.vscode/
.env
*.env
.DS_Store
Thumbs.db
pip-log.txt
.coverage
htmlcov/
.pytest_cache/
